.custom-service-header{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    grid-gap: 2rem;
}

.custom-service-header h1{
    font-size: 7rem;
}

@media screen and (max-width: 768px) {
    .custom-service-header h1{
        font-size: 3rem;
    }
}

@media screen and (min-width: 769px) and (max-width: 1600px) {
    .custom-service-header h1{
        font-size: 3.5rem;
    }
}