.portfolio-product-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-title{
    font-size: 5.7rem;
}

@media screen and (max-width: 768px) {
    .portfolio-product-title{
        flex-direction: column;
        align-items: flex-start;
    }
    .product-title{
        font-size: 2.5rem;
    }
}

@media screen and (min-width: 769px) and (max-width: 1600px) {
    .product-title{
        font-size: 3rem;
    }
}   