.portfolio-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 3rem;
}

.portfolio-card{
    aspect-ratio: 1;
    width: 80%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.card-title{
    position: absolute;
    width: 100%;
    bottom: -30%;
    left: 50%;
    transform: translateX(-50%);
    transition: transform 0.2s ease;
}

.portfolio-card:hover .card-title{
    transform: translateX(-50%) translateY(-100%);
}

@media screen and (max-width: 768px) {
    .portfolio-cards{
        margin-top: 5rem;
        grid-template-columns: none;
        place-items: center;
    }
}