.hero{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh; 
    padding: 4rem;
    gap: 3rem;
    /* margin-bottom: 6rem; */
}

.hero h2 span{
    color: var(--blk-color)
}