.prompt-section{
    display: flex;
    flex-direction: column;
    gap: 3rem
}

.prompt-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.prompt-header h1{
    font-size: 5.7rem;
}

hr{
    border: none;
    height: 2px;
    background-color: var(--blk-color);
}

.prompt-links{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 4rem 0;
    padding-bottom: 0;
}

.prompt-link{
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}

.prompt-link h2{
    font-size: 1.7rem;
}

.prompt-link h1{
    font-size: 5.7rem;
}

.prompt-link > div{
    display: flex;
    flex-direction: column;
}

.circle-right{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 50%;
    background-color: var(--blk-color);
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.circle-right img{
    stroke: #fff
}

@media screen and (min-width: 769px) and (max-width: 1600px){
    .prompt-header h1{
        font-size: 3rem;
    }
    .prompt-link h2{
        font-size: 1.5rem;
    }
    .prompt-link h1{
        font-size: 3.7rem;
    }
}

@media screen and (max-width: 768px){
    .prompt-header h1{
        font-size: 2rem;
    }
    .prompt-header .scroll-button{
        margin: 0 !important;
    }
    .prompt-link{
        grid-template-columns: 1fr auto;
    }
    .prompt-link h2{
        font-size: 1.2rem;
    }
    .prompt-link h1{
        font-size: 2.5rem;
        width: 80%;
    }
}