.team-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    width: 24rem;
    gap: 2rem
}

.team-card > div{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
}

.team-card img{
    width: 100%;
    border-radius: 50%;
}

@media screen and (min-width: 769px) and (max-width: 1600px) {
    .team-card{
        width: 18rem;
    }
}

@media screen and (max-width: 768px) {

}