.about-section{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding-top: 6rem;
}

.about-header{
    display: grid;
    grid-template-columns: 0.6fr 2fr;
    align-items: center;
    font-size: 3rem;
}

.about-content{
    font-size: 3rem;
    line-height: 6.4rem;
    padding: 0 8rem;
}

@media screen and (max-width: 768px) {
    .about-header{
        font-size: 1.8rem;
    }
    .about-content{
        padding: 0;
        font-size: 1.5rem;
        line-height: 3rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 1600px) {
    .about-header{
        font-size: 2rem;
    }
    .about-content{
        padding: 0 2rem;
        font-size: 2rem;
        line-height: 4rem;
    }
}