.about-section{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding-top: 6rem;
}

.about-header{
    display: grid;
    grid-template-columns: 0.6fr 2fr;
    align-items: center;
    font-size: 3rem;
}

.about-content{
    font-size: 3rem;
    line-height: 6.4rem;
    padding: 0 8rem;
}