.what-we-do{
    display: flex;
    flex-direction: column;
    gap: 7rem
}

.what-widget{
    display: grid;
    grid-template-columns: 0.9fr 2.1fr;
    /* min-height: 70vh; */
    /* outline: 1px solid red; */
}

.what-we-do h1{
    font-size: 4.5rem;
}

.scroll-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.widget-tab{
    display: grid;
    grid-template-columns: 1.2fr 1.8fr;
    grid-gap: 2rem;
}

.tab{
    display: flex;
    gap: 0.5rem;
    cursor: pointer;
}

.tab-group{
    gap: 1rem;
}

.tab:focus{
    outline: none;
}

.tab > h1{
    transition: border-bottom 0.2s ease;
    border-bottom: 2px solid transparent;
    color: #aaa;
}

.widget-tab h1{
    font-size: 2rem;
}

.widget-tab{
    height: 40vh
}

.widget-content{
    font-size: 1.7rem;
}

.tab-active > h1{
    color: var(--sec-color);
    border-bottom: 2px solid var(--blk-color);
}

.scroll-button-container:last-of-type{
    display: none;
}

.accordian-mobile{
    display: none;
}

@media  screen and (min-width: 769px) and (max-width: 1680px) {
    .what-we-do{
        gap: 3rem;
        height: 90vh;
    }

    .what-title{
        font-size: 3.2rem !important;
    }

    .widget-tab{
        grid-template-columns: 1fr 1.2fr !important;
    }

    .widget-tab h1{
        font-size: 1.5rem;
    }

    .widget-content{
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 768px) {
    .what-we-do{
        gap: 2.2rem;
    }
    
    .widget-tab{
        display: none;
    }
    .accordian-mobile{
        display: initial;
        background: rgb(0,0,0);
        background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 20%, rgba(0,0,0,0.5) 80%, rgba(0,0,0,0) 100%);
    }
    .szh-accordion__item{
        margin-bottom: 3rem;
    }
    .szh-accordion__item-panel > div{
        font-size: 1.5rem;
    }
    .szh-accordion__item-btn{
        background-color: rgba(0,0,0,0.5);
        border: none;
        color: var(--sec-color);
        text-align: left;
        /* border-bottom: 1px solid var(--sec-color); */
        width: 100%;
    }
    .szh-accordion__item-btn > h2{
        font-size: 1.3rem;
    }
    .szh-accordion__item-content{
        transition: height 0.25s cubic-bezier(0, 0, 0, 1);
    }
    .scroll-button-container:first-of-type{
        display: none;
    }
    .scroll-button-container:last-of-type{
        display: block;
        margin-top: auto;    
    }
    .what-title{
        line-height: normal;
        font-size: 2rem !important;
    }
    .widget-content{
        padding-top: 1rem;
        font-size: 1.3rem !important;
        text-align: justify;
    }
}