.transform{
    display: grid;
    grid-template-rows: 1fr 7fr 1fr;
    width: 100%;
    grid-gap: 2rem;
    /* place-items: center; */
}

.transform-1{
    display: flex;
    justify-content: flex-start;
}

.transform-2{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.transform-2 h1{
    font-size: 8rem;
    text-align: right;
    line-height: 8rem;
    width: 70%;
}

.transform-3{
    display: flex;
    justify-content: flex-end;
}

.transform-3 > h3{
    word-spacing: 1rem;
}

.transform-3 > h3 span{
    word-spacing: normal;
}
