html{
  scroll-padding-top: 16rem;
  scroll-behavior: smooth;
}
#root {
  width: 100%;
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0 6rem;
  max-width: 1920px;
}

@media  screen and (min-width: 769px) and  (max-width: 1366px) {
  html{
    scroll-padding-top: 10rem;
  }
  #root{
    padding: 0 4rem
  }
}

@media screen and (max-width: 768px) {
  html{
    scroll-padding-top: 12rem;
  }
  #root{
    padding: 0 1rem
  }
}