/* import new fonts*/

@font-face {
  font-family: Almeria Regular;
  src: url('/fonts/Almeria Regular.ttf');
}

@font-face {
  font-family: Almeria Bold;
  src: url('/fonts/Almeria-Bold.ttf');
}

@font-face {
  font-family: Gillroy Regular;
  src: url('/fonts/Gilroy-Regular.ttf');
}

@font-face {
  font-family: Gillroy Thin;
  src: url('/fonts/Gilroy-Thin.ttf');
}

@font-face {
  font-family: Gillroy Ultralight;
  src: url('/fonts/Gilroy-UltraLight.ttf');
}

@font-face {
  font-family: Gillroy Light;
  src: url('/fonts/Gilroy-Light.ttf');
}

@font-face {
  font-family: Gillroy Medium;
  src: url('/fonts/Gilroy-Medium.ttf');
}

@font-face {
  font-family: Gillroy Bold;
  src: url('/fonts/Gilroy-Bold.ttf');
}

@font-face {
  font-family: Geliat Bold;
  src: url('/fonts/Geliat-ExtraBold.otf');
}

@font-face {
  font-family: Geliat Light;
  src: url('/fonts/Geliat-ExtraLight.otf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 14px;

  --prm-color: #000;
  --sec-color: #D3C9BE;
  --blk-color: #B75CFF;

  --padding: 0.5rem;

  --ff-almeria-bold: 'Almeria Bold', sans-serif;
  --ff-almeria-regular: 'Almeria Regular', sans-serif;
  --ff-gilroy-thin: 'Gillroy Thin', sans-serif;
  --ff-gilroy-regular: 'Gillroy Regular', sans-serif;
  --ff-gilroy-ultralight: 'Gillroy Ultralight', sans-serif;
  --ff-gilroy-medium: 'Gillroy Medium', sans-serif;
  --ff-gilroy-light: 'Gillroy Light', sans-serif;
  --ff-gilroy-bold: 'Gillroy Bold', sans-serif; 
  --ff-geliat-bold: 'Geliat Bold', sans-serif;
  --ff-geliat-light: 'Geliat Light', sans-serif;

  --swiper-theme-color: #B75CFF !important;
  
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  width: 100%;
  min-width: 300px;
  min-height: 100vh;
  background-color: #000;
}

/*colors*/
.prm-color{
  color: var(--prm-color);
}

.sec-color{
  color: var(--sec-color);
}

.blk-color{
  color: var(--blk-color);
}

/*font-family utility classes*/
.ff-almeria-b{
  font-family: var(--ff-almeria-bold);
  font-display: "swap"
}

.ff-almeria-r{
  font-family: var(--ff-almeria-regular);
  font-display: "swap"
}

.ff-gillroy-t{
  font-family: var(--ff-gilroy-thin);
  font-display: "swap"
}

.ff-gillroy-u{
  font-family: var(--ff-gilroy-ultralight);
  font-display: "swap"
}

.ff-gillroy-r{
  font-family: var(--ff-gilroy-regular);
  font-display: "swap"
}

.ff-gillroy-m{
  font-family: var(--ff-gilroy-medium);
  font-display: "swap"
}

.ff-gillroy-l{
  font-family: var(--ff-gilroy-light);
  font-display: "swap"
}

.ff-gillroy-b{
  font-family: var(--ff-gilroy-bold);
  font-display: "swap"
}

.ff-geliat-b{
  font-family: var(--ff-geliat-bold);
  font-display: "swap"
}

.ff-geliat-l{
  font-family: var(--ff-geliat-light);
  font-display: "swap"
}

/*font-sizes*/
.fs-3l{
  font-size: 3rem;
}

.fs-2l{
  font-size: 2.5rem;
}

.fs-l{
  font-size: 2rem;
}

.fs-2m{
  font-size: 1.7rem;
}

.fs-m{
  font-size: 1.5rem;
}

.fs-3s{
  font-size: 1.2rem;
}

.fs-2s{
  font-size: 1rem;
}

.fs-s{
  font-size: 0.8rem;
}

/*font weights*/
.fw-100{
  font-weight: 100;
}

.fw-200{
  font-weight: 200;
}

.fw-300{
  font-weight: 300;
}

.fw-400{
  font-weight: 400;
}

.fw-500{
  font-weight: 500;
}

.fw-600{
  font-weight: 600;
}

.fw-700{
  font-weight: 700;
}



a{
  text-decoration: none;
}
