.service-section-rtl{
    display: flex;
    flex-direction: column;
    gap: 6rem
}

.service-section-ltr{
    display: flex;
    flex-direction: column;
    gap: 6rem
}

.service-section-header{
    display: grid;
    grid-template-columns: auto 2.8fr 0.2fr;
    grid-gap: 2rem;
    align-items: center;
    justify-content: center;
    position: relative;
}

.service-section-header h1{
    font-size: 3.5rem;
}

.service-section-content{
    display: flex;
    flex-direction: row;
    gap: 2.6rem
}

.vr{
    border: 0px;
    height: auto;
    width: 2px;
    background-color: var(--blk-color);
}

.service-section-images{
    display: flex;
    gap: 4rem;
    padding: 2rem 4rem
}

.service-section-details{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.service-section-details h1{
    font-size: 4.3rem;
}

.service-section-ltr .service-section-content{
    flex-direction: row-reverse;
}

@media screen and (max-width: 768px) {
    .service-section-content{
        flex-direction: column;
    }
}

@media screen and (min-width: 768px) and (max-width: 1600px) {
    .service-section-header h1{
        font-size: 2.5rem;
    }
    .service-section-details h1{
        font-size: 2rem;
    }
}