.team-section{
    display: flex;
    flex-direction: column;
    gap: 6rem
}

.team-header{
    display: grid;
    grid-template-columns: 2fr 2fr 0.5fr;
    align-items: center;
    grid-gap: 2rem;
}

.team-cards{
    display: flex;
    justify-content: space-evenly;
}